.App {
  padding-top: 40px;
  text-align: center;
  

}

body {
  color: rgb(21, 120, 150);
  background-color: rgb(242, 245, 250);
}

p {
  color: black;
}

button {
  background-color: rgb(32, 108, 201);
  padding: 5px;
  font-size: 14px;
  color: whitesmoke;
}

button:hover {
  background-color: green;
}

h4 {
  color: black;
  text-align: left;
  margin-bottom: 10px;
}

li {
  padding: 2%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
